{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum deleniti maxime
  quos dolores reiciendis modi fuga placeat vel qui dicta, maiores cupiditate,
  quidem voluptates nam natus. Neque itaque quis incidunt officia cum distinctio
  architecto, quidem vero unde deserunt. Velit adipisci optio, error minima
  consequatur cum quasi mollitia voluptatibus amet dicta laborum quibusdam id
  numquam, iusto et exercitationem nihil similique at molestiae? Soluta eum
  blanditiis excepturi aliquam ipsa saepe! Corrupti modi mollitia maiores fuga
  nihil ipsa, in exercitationem a eligendi quibusdam laudantium illum blanditiis
  debitis quidem ex quis enim sed, culpa excepturi? Aliquid quod impedit nisi
  delectus iure ipsa libero maiores, consequatur quasi rem fugiat est minus
  animi, doloremque porro placeat necessitatibus eos beatae provident aliquam
  soluta. Veritatis modi aspernatur quae autem nam culpa qui praesentium
  provident repellendus dolor recusandae amet suscipit dolore architecto
  laudantium libero, doloribus consequatur maxime illo obcaecati corporis
  distinctio optio perferendis! Placeat explicabo, reiciendis eaque illo rem
  repellat qui ab et quos vero rerum suscipit facilis nihil ipsam exercitationem
  nisi expedita labore quisquam fugit corporis obcaecati necessitatibus numquam
  ipsa excepturi. Accusantium optio architecto cupiditate vero. Aliquam quisquam
  et assumenda? Magnam libero odit perspiciatis vero, quae architecto nobis
  eveniet molestias reiciendis repudiandae rerum aliquid. Maiores, ullam
  repellat! Eum ipsum nam recusandae. Tempora blanditiis provident vero facilis
  voluptates, optio odit ducimus nemo omnis accusantium, itaque voluptatibus
  reiciendis fugiat. Rem, repudiandae? Tenetur eligendi amet id officiis ducimus
  illo quam quod. Eum suscipit praesentium voluptas mollitia nihil qui?
  Accusamus rem omnis, ipsum voluptatem dolorem, excepturi unde et reprehenderit
  hic repudiandae placeat ipsam quae magni. Hic nostrum, accusamus ad aliquam
  voluptatem nulla accusantium illum est animi esse at eius eveniet cum dolorem
  consequatur provident vero commodi necessitatibus, modi sit ut quam tempore
  corporis fugiat. Amet distinctio atque accusantium a repellat, corporis
  accusamus incidunt suscipit ipsa enim sapiente voluptates libero excepturi
  sequi rerum.
</p>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam vero
  officiis animi veritatis accusantium inventore itaque eaque ab, molestias enim
  quasi sint dolorem et! Repudiandae incidunt odit fuga voluptatum tempore
  facere quaerat deserunt ducimus minima? Aspernatur, qui nostrum. Et nihil
  magnam itaque repellat. Labore fugiat incidunt vero, facilis placeat nostrum
  laborum vel quidem iure nobis, aspernatur sunt voluptas repellat fugit soluta
  corrupti, fuga distinctio debitis nesciunt quibusdam ullam vitae. Eius, nobis
  error, optio exercitationem dignissimos, quis corrupti nostrum doloremque id
  rerum quas tempora molestiae dolorem quisquam deleniti incidunt iure
  voluptatibus labore unde repellat deserunt consectetur? Error, minus.
  Voluptatum, neque reiciendis.
</p>
{% endblock %}